footer {
    position: relative;
    // background-image: url('../images/Mask\ Group\ 5.png');
    background-color: $accent;

    &::after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(10, 10, 10, 0.5);
    }

    * {
        z-index: 3;
    }

    .container {
        display: grid;
        grid-template-columns: 82% 20%;
        justify-items: start;
        align-items: center;
        position: relative;

        .info-footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 8rem;
            //grid-template-columns: 30% 30% 30%;
            align-items: baseline;

            ul {
                a {
                    color: grey;
                }

                li {
                    padding-top: 0.5rem;

                    a {
                        color: white;

                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
        }

        .logo-footer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;

            &-slogan {
                // position: absolute;
                // bottom: 0%;
                font-size: 14px;
                color: $primary;
                margin-top: .5rem;
                text-align: right;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }
        }

        img {
            width: 150px;
            // position: absolute;
            // right: 0;
        }
    }

    hr {
        color: darken($accent, 15%);
        z-index: 3;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        * {
            z-index: 3;
        }

        &_text {
            color: white;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        &_made {
            color: $primary;
            font-size: 14px;

            a {
                color: $primary;
                text-decoration: none;
                font-size: 14px;
            }

            .fa {
                color: $secondary;
                margin: 0 3px;
                font-size: 10px;
                animation: pound 0.35s infinite alternate;
                -webkit-animation: pound 0.35s infinite alternate;
            }
        }

        @-webkit-keyframes pound {
            to {
                transform: scale(1.1);
            }
        }

        @keyframes pound {
            to {
                transform: scale(1.1);
            }
        }
    }
}
