/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Modal Content */
  .modal-content {
    position: relative;
    top: 0px;
    max-width: 600px;
    margin: 0 auto;
    background-color: $primary;
    color: $accent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 60px;
      color: #fff;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
    }
    .close:hover {
      background-color: #fff;
      color: #222;
    }
  }

  .modal-header {
    background-color: $secondary;
    height: 60px;
    padding-left: 20px;

    .header-title {
      line-height: 55px;
    }

    h3 {
      color: $primary;
    }
  }

  /* Modal Body */
  .modal-body {
    padding: 0 20px 20px 20px;

    &-title {
      margin-top: 1rem;
      margin-bottom: 1rem;

      * {
        margin: 0rem;
      }
    }
  }

  // Animation for slide in & out
  .modal-animated-in {
    animation: totop-in 0.3s ease;
  }
  .modal-animated-out {
    animation: totop-out 0.3s ease forwards;
  }

  /* Keyframes */
  @keyframes totop-in {
    0% {
      top: 600px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes totop-out {
    0% {
      top: 0px;
      opacity: 1;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
}
