$flexSize: 15em;
$columnWidth: $flexSize * 1.8;
$boxSpacing: 1.6em;
$colorText: #404646;

.ourwork {
    .card {
        margin: 0;
        height: $flexSize;
        display: flex;
        background-color: white;
        box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);

        img {
            height: 100%;
            width: 50%;
            max-width: 50%;
            object-fit: cover;
            flex: 1 1 auto;
        }
    }

    .card-body {
        width: 12em;
        max-height: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: $boxSpacing;
    }

    .card-text {
        position: relative;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 0.8em 0;
        padding: 0;

        h3 {
            margin-bottom: 0.5rem;
            margin-top: 0;
        }
    }

    a {
        color: white;
        text-decoration: none;
        text-align: center;

        &:hover {
            //text-decoration: underline;
            color: white;
        }
    }

    @media (max-width: 570px) {
        .container {
            grid-template: auto / 1fr;
            padding: $boxSpacing/1.5;
        }

        .card {
            flex: 1 1 auto;
            display: flex;
            background-color: white;
            box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);

            img {
                max-width: 45%;
            }
        }
    }
}
