body {
    .banner {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        text-decoration: none;
        list-style-type: none;
    }
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: $primary;
    background-color: lighten($accent, 40%);
}

.badge-secondary {
    color: $primary;
    background-color: $secondary;
}
