

//----------------colors--------------------------
//Basic colors
$primary: #FFFFFF;
$secondary:#BD0D22;
$accent:#2B3162;

//Light colors
$lightgrey:#F9F9F9;
$lightred:#E35760;
$lightgrey1:#F8F8F8;
$lightwhite:#C6C6C6;


//Solid colors
$black:#000000;


//Shades
$redshade: #B82D37;